@tailwind base;
@tailwind components;
@tailwind utilities;

$var:#94a8a7;
$cta-color: #00b7ff;

$brand-color: #afe34d;

body {
  /* Just to show that you can mix SASS and Tailwind directives */
  background-color: #fff;
  color: #161851;
  font-weight: 400;
}

/* Tailwind @apply directives will be processed by PostCSS after the SASS rendering takes place */

a { @apply text-blue-600 no-underline border-b-2 border-blue-200 }
a:hover { @apply text-blue-800 border-blue-600 }

.list li {
  @apply list-disc
}

h1,h2 { @apply font-black leading-snug }
h3 { @apply font-black mb-3 uppercase text-2xl }

p {@apply leading-relaxed mb-3 }

h1 {
    color: #161851;
}

section {@apply mx-auto }

.cta {color: $brand-color; font-weight: 600;}

// Custom CSS 
